# Ignorowanie danych Vagrant
.vagrant/

# Ignorowanie WordPress core (jeśli używasz go jako submodułu lub zewnętrznego źródła)
wp-admin/
wp-includes/

# Ignorowanie wtyczek i motywów (jeśli je instalujesz z zewnątrz)
wp-content/plugins/
wp-content/themes/

# Ignorowanie przesłanych plików (np. obrazy)
wp-content/uploads/

# Ignorowanie plików tymczasowych i logów
*.log
*.tmp
*.bak

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db
